@use '../../assets/scss/functions' as *;

.wrap {
  margin-top: 100px;
  margin-bottom: 30px;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  row-gap: 16px;
  column-gap: 16px;
  -webkit-box-align: start;
  align-items: start;
}

.in-cinema {
  margin-bottom: toRem(64);
}

.home-heading {
  text-align: center;
}
