@use '../../assets/scss/functions' as *;
@use '../../assets/scss/variables';

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background: var(--grey-900-98);
}

.wrap {
  margin-top: 100px;
  margin-bottom: 30px;
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
