@use '../../assets/scss/functions' as *;

.input-group {
  position: relative;
  border-radius: 12px;
  margin-bottom: 8px;
  input {
    background: transparent;
    background: getColor(black-10);
    outline: none;
    border: none;
    appearance: none;
    z-index: 3;
    width: 100%;
    height: 64px;
    padding: 28px 16px 12px 56px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 12px;
    color: getColor(grey-400);
    border: 2px solid getColor(grey-800);
    &:focus {
      border-color: getColor(primary-500);
      & + label {
        transform: translateY(-12px);
        color: getColor(grey-400) !important;
      }
      &::placeholder {
        opacity: 0.4;
      }
    }
    &::placeholder {
      opacity: 0;
    }
    &:not(:placeholder-shown) + label {
      transform: translateY(-12px);
      color: getColor(grey-600);
    }
  }
  label {
    position: absolute;
    top: 24px;
    left: 56px;
    font-size: 14px;
    line-height: 16px;
    color: getColor(grey-600);
    transform: translateY(0);
    transform-origin: 0%;
    transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: text;
  }
}

.icon {
  position: absolute;
  top: 20px;
  left: 15px;
}
